body {
	margin: 0;
	background: #fff;
}

#DEBUG_STATS{
	/*display: none;*/
}

div, canvas{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#container{
	/*position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;*/
	position: relative;
	width: 960px;
	height: 540px;
}

#canvas{
	background-color: #000;
	display:block;
	width: 960px;
	height: 540px;
}

#canvas[loading=yes]{
	background-image: url(../assets/sprites/loading.png); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/*#info{
	width: 960px;
	height: 60px;

	margin-top:20px;

	color: #fff;
	font-size: 20px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 25px;
}

a{ color: #cc2727; }
a:hover{ color: #ee3939; }*/

#ui{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

/** CAPTIONS **/

#captions{
	cursor: default;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
    display: none;
}
#captions > span{
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}

/** CONTROLS **/

#controls{
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,0.5);
}
#controls > div:hover{
	background-color: rgba(0,0,0,0.8);
}
#control_play{
	float: left;
	width: 59px;
	height: 40px;
	background-image: url(../assets/ui/play.png);
	cursor: pointer;
}
#control_play[playing=true]{
	background-position: 0px 40px;
}
#control_play[playing=false]{
	background-position: 0px 0px;
}
#control_volume{
	float: left;
	width: 47px;
	height: 40px;
	background-image: url(../assets/ui/volume.png);
	cursor: pointer;
}
#control_volume_slider{
	float: left;
	width: 50px;
    margin-top: 13px;
}
#control_captions{
	float: right;
	width: 47px;
	height: 40px;
	background-image: url(../assets/ui/captions.png);
	cursor: pointer;
}
#control_captions_select{
	float:right;
	width: 80px;
	margin-top: 12px;
}
